/__pycache__
/arborfield.wav
/micro.wav
/sounds
/the kid laroi x yellow diamond 2024-07-14 1708_blur_avrg_L.wav
/the kid laroi x yellow diamond 2024-07-14 1708_blur_avrg_R.wav
/trance footwork megamix.wav
/weird haus.wav
*.wav
commands/__pycache__
*.pyc
*.brk
commands/__pycache__/*.pyc
breakpoints